@font-face {
  font-family: 'CoFo Sans Mono';
  src: url('/fonts/CoFoSansMono-Regular.otf') format('opentype'),
       url('/fonts/CoFoSansMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

.cofo-sans-mono {
  font-family: 'CoFo Sans Mono', monospace;
} 